@page
@model SeguiNutri.App.Frontend.Pages.IntroModel
@{
}
<h1>Lista de Pacientes</h1>

<a class="btn btn-primary table-btn" asp-page="./Registrar">Registrar Paciente</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col" >Cedula</th>
        <th scope="col" >Nombre</th>
        <th scope="col" >Apellido</th>
        <th scope="col" >Fecha Nacimiento</th>
        <th scope="col" >Correo</th>
        <th scope="col" >Telefono</th>
        <th scope="col" >IdPaciente</th>
        <th scope="col" >Contraseña</th>
        <th scope="col" >Actualizacion de datos</th>
    </tr>
    </thead>
@foreach (var p in Model.Paciente)
{
   <tr>
       <td>@p.Cedula</td>
       <td>@p.Nombre</td>
       <td>@p.Apellido</td>
       <td>@p.FechaNacimiento</td>
       <td>@p.Correo</td>
       <td>@p.Telefono</td>
       <td>@p.IdPaciente</td>
       <td>@p.Contraseña</td>
       <td><a class="btn btn-secondary" asp-page="./Actualizar" asp-route-id="@p.Id">Editar</a></td>


   </tr> 
}

</table>