@page
@using SeguiNutri.App.Dominio;
@model SeguiNutri.App.Frontend.Pages.RegistroNutricional.ListaRegistrosPacienteModel
@{
}
<h1>Lista Registros Nutricionales Paciente</h1>
<table class="table table-striped table-bordered table condensed" 
    style="width:100">
        <thead class="text-center">
            <tr>
                <th scope="col" >Id Registro Datos</th>
                <th scope="col" >Calorias Consumidas</th>
                <th scope="col" >Proteinas Consumidas</th>
                <th scope="col" >Peso Actual</th>
                <th scope="col" >Fecha Registro</th>
                <th scope="col" >Carbohidratos Consumidas</th>
                <th scope="col" >Grasas Consumidas</th>                
                <th scope="col" >Medidas Antropometricas</th>
                <th scope="col" >Edición</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.registrosDatos)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.CaloriasConsumi</td>
                    <td>@p.ProteinaConsumi</td>
                    <td>@p.Peso</td>
                    <td>@p.Fecha_Registro</td>
                    <td>@p.CarbohidratosConsumi</td>
                    <td>@p.GrasaConsumi</td>
                    <td>@p.MedidasAntropometricas</td>
                    <td>
                        <div class="text-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" asp-page="../RegistroNutricional/Editar" asp-route-id="@p.Id">Editar</a>
                                <a class="btn btn-danger" asp-page="../RegistroNutricional/Eliminar" asp-route-id="@p.Id">Eliminar</a>
                            </div>
                        <div>     
                    </td>           
                </tr>
            }
        </tbody>    
</table>
<a class="btn btn-primary table-btn"asp-page="../Pacientes/Intro"  >Home</a>